main
  .splash-screen
    h1 The holidays has arrived and i wish you:
    button.btn Open it
  .content
    h1
      | Merry 
      i Christmas
      | and Happy New Year
  .underlay
    .layer1
    .layer2
    .layer3
